APP_NAME=AI School Assistant
APP_ENV=development
DEBUG=true
API_PREFIX=/api/v1

DATABASE_URL=postgresql+psycopg2://postgres:password@localhost:5432/school_assistant
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your-supabase-service-role-key
SUPABASE_BUCKET=reports

GEMINI_API_KEY=your-gemini-api-key
GEMINI_MODEL=gemini-1.5-flash

# Meta WhatsApp API
META_WA_ACCESS_TOKEN=EAATJQZCn6ss4BRXFqZBE0jv3unnWqbXGNPjycCnGz1KFY6ffb492JwSDyvCx0X7lvdJ303YZA7lHlXqSZCswr7D35bl200nmFpKj82gzZAPMWvQguZCfmVoGR0NsDzHjVCDeHifKMPfLyZC0CpcDxZA6uP6NxmLMyZBnNvyW70mTWXndZAt1lFZC3dfuFg0XlBkepvXmNR4DmUdmObTTgSXdXrGEP2j7okZCqXuIDo9DDMSH6H42wY8YqykvBvOmQf8nzzXVwaMYnIo4CzXZBDhFh24UD5TM7
META_WA_PHONE_NUMBER_ID=1086441967888342
META_WA_APP_ID=1347193700790990
META_WA_APP_SECRET=62ca985982e49e6dd46c0b5a842ce30b
META_WA_WEBHOOK_VERIFY_TOKEN=UHX7dHv12FNlThAteHAYtaWKRhEjj8VAKlI7noivR54

PUBLIC_BASE_URL=http://localhost:8000
FRONTEND_PUBLIC_BASE_URL=http://localhost:5173
AUTO_SEED=true
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe
